
.ui-popup {
    position: absolute;
    font-family: Helvetica, arial, sans-serif;
}
.ui-popup:focus {
    outline: 0;
}
.ui-popup-show {
    display: block;

}
.ui-popup-modal::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-animation: ui-popup-opacity .15s 1 linear;
    animation: ui-popup-opacity .15s 1 linear;

}
.ui-popup-modal > * {
    position: relative;
}

@-webkit-keyframes ui-popup-opacity {
    0% {opacity: 0;}
    100% {opacity: .7;}
}
@keyframes ui-popup-opacity {
    0% {opacity: 0;}
    100% {opacity: .7;}
}