html {
    height: 100%;
}
body {
    height: 300%;
}

pre.source-code {
    display: block;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    overflow: auto;
    line-height: 1.45;
    color: #666;
}
pre.source-code::before {
    content: 'Example source code:';
    display: block;
    margin-bottom: 10px;
    color: #CCC;
}